.vscode/**
.vscode-test/**
.github/**
src/**
examples/**
node_modules/**
out/**
dist/**
!out/extension.js
.gitignore
.eslintrc.js
tsconfig.json
esbuild.js
runUnitTests.js
package-lock.json
**/*.map
**/*.ts
*.vsix
.drift/**
images/icon.svg
action.yml
.npmignore
